Decoder=C:\Program Files (x86)\FLAC Frontend\tools\flac.exe
OutputFormat={name}:{hash}
ProcessExitTimeoutMs=1000
ProcessTimeoutSec=180
HashAlgorithm=SHA256
#Profile=FLAC2

[APE]
Decoder=C:\Program Files\Monkey's Audio x64\MAC.exe
DecoderParameters={file};%file:.ape=.wav%;-d

[FLAC2]
DecoderParameters=--decode,--stdout,{file}