name: Release the Compiled Application (Draft for now)

on:
  workflow_dispatch:

permissions:
  contents: write  # required to create tags and releases

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Determine tag
        id: determine-tag
        shell: pwsh
        run: |
          if ($env:GITHUB_REF -like "refs/tags/*") {
            $tag = $env:GITHUB_REF_NAME
          } else {
            $tag = "draft-" + (Get-Date -Format "yyyyMMdd-HHmmss")
          }
          "tag=$tag" | Out-File -Append $env:GITHUB_OUTPUT

      - name: Build
        run: dotnet build ./FlacHasher.sln --configuration Release

      - name: Zip
        shell: pwsh
        run: Compress-Archive -Path ./FlacHasher.Cmd/bin/Release/net8.0/* -DestinationPath flachasher-cmd.zip -Force 

      - name: Upload the bin!
        id: upload-release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.determine-tag.outputs.tag }}
          token: ${{ secrets.GITHUB_TOKEN }}
          files: flachasher-cmd.zip
          draft: true
          
      - run: "echo ${{ steps.upload-release.outputs.url }}"