name: Run Tests on Windows (Docker, HTML report)

on:
    workflow_dispatch:
    pull_request:
      branches:
        - "**"

jobs:
  tests:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v4
      - run: mkdir TestResults
      - name: Build
        run: docker compose --file docker-compose-win.yml pull tests_report
      - name: Run Tests
        run: docker compose --file docker-compose-win.yml run --rm tests_report
      - uses: actions/upload-artifact@v4
        id: report-upload-steps
        with:
          name: test-repor-win-${{ github.sha }}
          path: TestResults
          retention-days: 1