name: Run Tests

on:
    workflow_dispatch:
    pull_request:
      branches:
        - "**"
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.x
      - run: dotnet build ./FlacHasher.sln --configuration Release
      - run: dotnet test ./FlacHasher.sln --configuration Release --no-build
