name: Run Tests on Windows

on:
    workflow_dispatch:
    pull_request:
      branches:
        - "**"
jobs:
  tests:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.x
      - run: dotnet build ./FlacHasher.sln --configuration Release
      - run: dotnet test ./FlacHasher.sln --configuration Release --no-build
      - uses: actions/upload-artifact@v4
        id: report-upload-step
        with:
          name: test-report-win-${{ github.sha }}
          path: ./TestResults/.html
          retention-days: 7
      - name: Output ID
        run: echo "Uploaded to ${{ steps.report-upload-step.outputs.artifact-id }} "