name: Runs Tests on Linux (Docker)

on:
  workflow_dispatch:
  pull_request:
    branches:
      - "**"

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: docker compose --file docker-compose-lnx.yml build tests --progress=plain
      - name: Run Tests
        run: docker compose --file docker-compose-lnx.yml run --rm tests