name: Run Tests (in Docker)

on:
    workflow_dispatch:
    pull_request:
      branches:
        - "**"

jobs:
  tests:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: docker compose pull tests
      - name: Run Tests
        run: docker compose run tests